src/Cib/Bundle/SoapBundle/Resources/public/soap/licenseSoap.wsdl

<definitions name="sendLicense"
             targetNamespace="http://localhost/LicenseManager/web/app_dev.php/soap"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://localhost/LicenseManager/web/app_dev.php/soap"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">



    <portType name="sendLicense_PortType">
        <operation name="sendLicense">
            <input message="tns:sendLicenseRequest"/>
            <output message="tns:sendLicenseResponse"/>
        </operation>
    </portType>

    <portType name="sendClientCode_PortType">
        <operation name="sendClientCode">
            <input message="tns:sendClientCodeRequest"/>
            <output message="tns:sendClientCodeResponse"/>
        </operation>
    </portType>

    <message name="sendLicenseRequest">
        <part name="numTpe" type="xsd:string"/>
        <part name="infoSup0" type="xsd:string"/>
        <part name="infoSup1" type="xsd:string"/>
        <part name="infoSup2" type="xsd:string"/>
        <part name="version" type="xsd:string"/>
        <part name="crc" type="xsd:string"/>
        <part name="typeTpe" type="xsd:string"/>
        <part name="isCless" type="xsd:integer"/>
        <part name="isBt" type="xsd:integer"/>
        <part name="isGprs" type="xsd:integer"/>
        <part name="idClient" type="xsd:integer"/>
        <part name="tokenId" type="xsd:string"/>
    </message>

    <message name="sendLicenseResponse">
        <part name="status" type="xsd:string"/>
    </message>

    <message name="sendClientCodeRequest">
        <part name="clientCode" type="xsd:string"/>
    </message>

    <message name="sendClientCodeResponse">
        <part name="status" type="xsd:string"/>
        <part name="clientName" type="xsd:string"/>
        <part name="clientToken" type="xsd:string"/>
        <part name="clientId" type="xsd:integer"/>
    </message>

    <service name="sendLicense_Service">
        <documentation>WSDL File for sendLicenseService</documentation>
        <port binding="tns:sendLicense_Binding" name="sendLicense_Port">
            <soap:address
                    location="http://localhost/LicenseManager/web/app_dev.php/soap/license" />
        </port>
    </service>

    <service name="sendClientCode_Service">
        <documentation>WSDL File for sendLicenseService</documentation>
        <port binding="tns:sendClientCode_Binding" name="sendClientCode_Port">
            <soap:address
                    location="http://localhost/LicenseManager/web/app_dev.php/soap/client" />
        </port>
    </service>

    <binding name="sendLicense_Binding" type="tns:sendLicense_PortType">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sendLicense">
            <soap:operation soapAction="sendLicense"/>
            <input>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:examples:sendLicenseService"
                        use="encoded"/>
            </input>

            <output>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:examples:sendLicenseService"
                        use="encoded"/>
            </output>
        </operation>
    </binding>

    <binding name="sendClientCode_Binding" type="tns:sendClientCode_PortType">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sendClientCode">
            <soap:operation soapAction="sendClientCode"/>
            <input>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:examples:sendClientCodeService"
                        use="encoded"/>
            </input>

            <output>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:examples:sendClientCodeService"
                        use="encoded"/>
            </output>
        </operation>
    </binding>

</definitions>